.sideright {
  margin-right: 0 auto !important;
  bottom: 0 !important;
  width: 230px;
  position: fixed;
  z-index: 1111;
  top: 0;
  right: 0 !important;
  background-color: #000 !important;
  color: #fff;
 
  padding: 30px 20px 0;
  .div {
    display: flex;
    align-items: start;
    flex-direction: column;
    bottom: 0;
    top: 0;
    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 18px;

      h1 {
        font-family: Roboto;
        font-size: 20px;
        font-weight: 700;
        line-height: 25.3px;
        letter-spacing: 0.01em;
        text-align: left;
      }
      .icons {
        display: flex;
        align-items: center;
        gap: 16px;
      }
    }
    h2 {
      font-family: Roboto;
      font-size: 18px;
      font-weight: 450;
      line-height: 24px;
      text-align: left;
    }
    .acc {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .account {
        display: flex;
        align-items: center;
        gap: 15px;

        .accImg {
          width: 52px;
          height: 52px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #3f3d3d;
        }
      }
    }
    .contained {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 23px;
      button {
        height: 62px;
        width: 233px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Circular Std;
        font-size: 18px;
        font-weight: 700;
        line-height: 22.77px;
        letter-spacing: 0.14em;
        text-align: center;
        border-radius: 40px;
        cursor: pointer;
        outline: 0;
      }
    }
  }
}
