.lorem {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  z-index: 2222;
  width: 100%;
  background-color: #474343f8;
  img {
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    left: 60px;
    transform: translateX(-50%);
    animation: rotateImage 8s linear infinite;
  }
  span{
    display: flex;
    position: absolute;
    color: aliceblue;
    font-size: 22px;
    font-family: Roboto;
    font-weight: 500;
   
    left: 109px;
  }
  .audio {
    width: 50%;
  }
}
@keyframes rotateImage {
  from {
    transform: translateX(-50%) rotate(0deg);
  }
  to {
    transform: translateX(-50%) rotate(360deg);
  }
}
